
html {
    font-size: 100%;
    text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0
}

ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, hgroup, p, blockquote, figure,
form, fieldset, input, legend, pre, abbr {
    margin: 0;
    padding: 0
}

pre, code, address, caption, th, figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal
}

strong, b {
    font-weight: bold;
}

em, i, cite, dfn {
    font-style: italic;
}

code, samp, kbd, tt, pre {
    font-family: Menlo-Regular, Courier, 'Courier New', mono;
}

fieldset, iframe, img {
    border: none
}

caption, th {
    text-align: left
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article, aside, footer, header, nav, main, section, summary, details,
hgroup, figure, figcaption {
    display: block
}

audio, canvas, video, progress {
    display: inline-block;
    vertical-align: baseline
}

button {
    font: inherit;
    vertical-align: middle
}

html, body {
    max-width: 100%;
    min-width: 320px;
    overflow-x: hidden;
}

body {
    background-color: #fff;
    color: #333;
    font-style: normal;
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.45em;
    font-weight: 400;
    text-rendering: optimizelegibility;
}

a, a:visited, a:link, a:active {
    color: #08c;
    text-decoration: none;
}

h1 {
    font-size: 64px;
    line-height: 1em;
    font-weight: 200;
}

h2 {
    font-size: 52px;
    line-height: 1em;
    font-weight: 200;
}

h3 {
    font-size: 32px;
    line-height: 1em;
    font-weight: 200;
}

h4 {
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    line-height: 1em;
    font-weight: 600;
}

h6 {
    font-size: 14px;
    line-height: 1em;
    font-weight: 600;
}
