@import url(base.css);

body {
    height: 100%;
    overflow-x: hidden;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    width: 100%;
    margin: 0 0 -60px;
    width: 100%;
    overflow-x: hidden;
}
#push {
    clear: both;
    height: 100px;
}
#footer {
    height: 50px;
    margin: 0 auto;
    clear: both;
    padding-top: 10px;
    background-color: #ff2968;
}
#footer p {
    font: 20px "HelveticaNeue-Bold";
    color: #ffffff;
    font-size: 12px;
    display: block;
    width: 1140px; /*980px;*/
    margin-right: auto;
    margin-left: auto;
    padding-left: 60px;
}
#header {
    overflow: hidden;
    height: 0px;
    background-color: #ff2968;
}
#header h1 {
    display: none;
}
img {
}
#hero_image_bg {
    background: url(../images/hero_bg.jpg) repeat-x;
}
#hero_image {
    width: 1100px;
    margin: 0 auto;
    display: block;
}
#hero_bg {
}
#hero {
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin: 20px auto;
}
#hero img {
    float: left;
}
#hero h1 {
    display: none;
}
#content_bg {
}
#content {
    width: 1140px;
    margin: 0 auto;
    padding: 0 0 20px 60px;
}
#content h4 {
    font: 30px "HelveticaNeue-Light";
    color: #ff2968;
}
#content p {
    font: 15px "HelveticaNeue";
    color: #666;
    margin-top: 15px;
}
#gallery_bg {
}
#gallery {
    width: 1140px; /*980px;*/
    margin-right: auto;
    margin-left: auto;
}
#gallery .item {
    float: left;
    margin: 40px 40px 20px;
}
#gallery .item p {
    text-align: center;
    font: 15px "HelveticaNeue";
    color: #666;
    margin-top: 15px;
}
#gallery img {
}
@media screen and (max-width: 1140px) {
#gallery {
    width: 760px;
}
#footer p {
    width: 760px;
}
#content {
    width: 760px;
}
}
@media screen and (max-width: 768px) {
#gallery {
    width: 297px;
}
#footer p {
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
}
#content {
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
}
#gallery .item {
    float: left;
    margin: 40px auto 20px;
}
}
/*
@media screen and (max-width: 320px) {
#gallery {
    width: 300px;
}
#footer p {
    width: 300px;
}
#content {
    width: 300px;
}
}
*/
/*
@media screen and (min-width: 1000px) {
.box {
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
#footer p {
    width: 1000px;
    margin: 0 auto;
}
}
@media screen and (max-width: 768px) {
.text {
    width: 57%;
}
}

@media screen and (max-width: 568px) {
.text {
    width: 90%;
}
#ipad img {
    width: 120%;
    margin-left: -10%;
}
#gallery img {
    width: 140%;
    margin-left: -20%;
}
}
@media screen and (max-width: 320px) {
#content h1 {
    font-size: 37px;
}
#content h4, #gallery h4 {
    font-size: 24px;
}
#content b, #content p {
    font-size: 16px;
}
#hero img {
    width: 120%;
    margin-left: -10%;
    margin-top: 10px;
}
#ipad img {
    width: 180%;
    margin-left: -40%;
}
#gallery img {
    width: 200%;
    margin-left: -50%;
}
}
*/
@media screen and (max-width: 568px) {
}

@media screen and (min-width: 1024px) {
}
@media screen and (max-width: 767px) and (orientation:portrait) {
}
@media screen and (max-width: 567px) and (orientation:portrait) {
}

@media screen and (max-width: 767px) {
}
